:host {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
}

.auth-layout {
  --auth-header-padding-top: 22px;
  --auth-header-padding-right: 0;
  --auth-header-padding-bottom: 26px;
  --auth-header-padding-left: 80px;
  --auth-form-margin-left: 228px;
  --auth-login-margin-top: 194px;
  --auth-register-margin-top: 125px;
  --auth-background-size: contain;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url('/assets/images/auth-background-frame.svg') no-repeat right center;
  background-size: var(--auth-background-size);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:
      var(--auth-header-padding-top)
      var(--auth-header-padding-right)
      var(--auth-header-padding-bottom)
      var(--auth-header-padding-left);
    width: 100%;
    height: 70px;
  }

  &__form-wrapper {
    align-self: flex-start;
  }
}

@media (min-width: 2200px) {
  .auth-layout {
    --auth-header-padding-left: 120px;
    --auth-form-margin-left: 320px;
    --auth-login-margin-top: 240px;
    --auth-register-margin-top: 170px;
    --auth-background-size: contain;
  }
}

@media (min-width: 1601px) and (max-width: 2199px) {
  .auth-layout {
    --auth-header-padding-left: 80px;
    --auth-form-margin-left: 228px;
    --auth-login-margin-top: 194px;
    --auth-register-margin-top: 125px;
    --auth-background-size: contain;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  .auth-layout {
    --auth-header-padding-left: 64px;
    --auth-form-margin-left: 176px;
    --auth-login-margin-top: 148px;
    --auth-register-margin-top: 96px;
    --auth-background-size: contain;
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {
  .auth-layout {
    --auth-header-padding-left: 48px;
    --auth-form-margin-left: 132px;
    --auth-login-margin-top: 124px;
    --auth-register-margin-top: 82px;
    --auth-background-size: contain;
  }
}

@media (max-width: 1366px) {
  .auth-layout {
    --auth-header-padding-left: 40px;
    --auth-form-margin-left: 96px;
    --auth-login-margin-top: 104px;
    --auth-register-margin-top: 64px;
    --auth-background-size: cover;
  }
}
