<div class="auth-layout">
  @if (currentPath) {
    <div class="auth-layout__frame">
      <img
        class="auth-layout__frame-logo"
        [src]="`assets/images/auth-background-${currentPath}-frame.svg`"
        alt="Фрейм"
      />
    </div>
  }
  <header class="auth-layout__header">
    <div
      routerLink="/main"
      style="cursor: pointer"
    >
      <img
        src="/assets/icons/auth-logo.svg"
        alt="Логотип"
      />
    </div>
  </header>
  <div class="auth-layout__form-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
