<section class="footer">
  <div class="footer__cards">
    <div class="footer__card">
      <p class="footer__card-title">Текст</p>
      <p class="footer__card-text">Текст</p>
    </div>
    <div class="footer__card">
      <p class="footer__card-title">Текст</p>
      <p class="footer__card-text">Текст</p>
    </div>
    <div class="footer__card">
      <p class="footer__card-title">Текст</p>
      <p class="footer__card-text">Текст</p>
    </div>
  </div>
  <div class="footer__wrapper">
    <div class="footer__newsletter">
      <img
        class="footer__logo"
        src="/assets/icons/auth-logo.svg"
        alt="логотип"
      >
      <p class="footer__newsletter-text">
        Присоединяйся к Brandname, начинай изучать и создавать вкусные рецепты!
      </p>
      <div class="footer__form-wrapper">
        <input
          class="footer__form-input"
          name="email"
          type="email"
          placeholder="Введите ваш email..."
        >
        <button class="footer__form-button">
          Подписаться
        </button>
      </div>
    </div>
    <div class="footer__links-wrapper">
      <div class="footer__links">
        <div class="footer__links-column">
          <p class="footer__link-title">Текст</p>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
        </div>
        <div class="footer__links-column">
          <p class="footer__link-title">Текст</p>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
        </div>
        <div class="footer__links-column">
          <p class="footer__link-title">Текст</p>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
        </div>
        <div class="footer__links-column">
          <p class="footer__link-title">Текст</p>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
        </div>
        <div class="footer__links-column">
          <p class="footer__link-title">Текст</p>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
          <a
            routerLink="/main"
            class="footer__link"
          >Текст
          </a>
        </div>
      </div>
      <div class="footer__info">
        <p class="footer__info-text">Copyrigth © 2026 Brandname.</p>
        <p class="footer__info-text">Privacy Policy | Terms and Condition</p>
      </div>
    </div>
  </div>
</section>
