<section class="auth-form">
  <div class="auth-form__header">
    <h1 class="auth-form__title">Восстановление пароля</h1>
    <p class="auth-form__subtitle">
      Вернуться
      <a
        class="auth-form__subtitle-link link"
        routerLink="../"
      >назад
      </a>
    </p>
  </div>

  <form class="auth-form__form">
    <label class="auth-form__field">
      <span class="auth-form__label">Почта</span>
      <input
        class="auth-form__input"
        type="email"
        placeholder="Введите ваш email..."
      />
    </label>

    <p class="auth-form__description">
      В поле ввода введите вашу почту, на которую был зарегистрирован аккаунт. В течение пяти минут
      мы отправим вам письмо с инструкцией для восстановления пароля
    </p>

    <button
      type="submit"
      class="auth-form__submit"
    >Получить
    </button>
  </form>
</section>
