<section class="main-banner">
  <div class="main-banner__text-wrapper">
    <span class="main-banner__line">
      <span class="main-banner__text main-banner__text_40">Изучай</span>
      <span class="main-banner__text main-banner__text_48 main-banner__text_green"> кулинарные</span>
      <span class="main-banner__text main-banner__text_40"> идеи</span>
    </span>

    <span class="main-banner__line">
      <span class="main-banner__text main-banner__text_48">и</span>
      <span class="main-banner__text main-banner__text_60 main-banner__text_green"> вкусные рецепты</span>
    </span>

    <span class="main-banner__line">
      <span class="main-banner__text main-banner__text_48">вместе с</span>
      <span class="main-banner__text main-banner__text_64 main-banner__text_green"> Brandname</span>
    </span>
  </div>

  <div class="main-banner__link-wrapper">
    <!-- TODO Проверить в будущем что якорь введет в правильное место -->
    <a
      [routerLink]="['/main']"
      fragment="recipes"
      class="main-banner__link"
    >
      <img
        class="main-banner__link-icon"
        src="/assets/icons/icon-main-arrow-bottom.svg"
        alt="↓"
      >
    </a>
  </div>
</section>
